@page "/"
@using KingOfTheHill.Models
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject NavigationManager Navigation
@rendermode InteractiveServer

<h3>Введите имя</h3>

<EditForm Model="@loginRequest" OnValidSubmit="@HandleLogin">
    <InputText @bind-Value="loginRequest.Username" placeholder="Имя" />
    <button type="submit">Получить токен</button>
    <div class="Error @(_isErrorVisible ? "visible": "hidden")"></div>
</EditForm>

@code {
    private LoginRequest loginRequest = new();
    private bool _isErrorVisible = false;
    private async Task HandleLogin()
    {
        Console.WriteLine("Requesting JWT token");

        var response = await Http.PostAsJsonAsync(NavigationManager.ToAbsoluteUri("api/Login/Login"), loginRequest);

        Console.WriteLine($"Server respone status: {response.StatusCode}");

        LoginResponse? result;
        if (response.IsSuccessStatusCode)
        {
            result = await response.Content.ReadFromJsonAsync<LoginResponse>();

            var accessToken = result?.AccesToken;
            var refreshToken = result?.RefreshToken;

            await JSRuntime.InvokeVoidAsync("localStorage.setItem", "authToken", accessToken);
            await JSRuntime.InvokeVoidAsync("localStorage.setItem", "refreshToken", refreshToken);

            Navigation.NavigateTo($"/index?token={accessToken}");
        }

        else
        {
            _isErrorVisible = true;
        }
    }
}