@page "/"
@using KingOfTheHill.Models
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject NavigationManager Navigation
@rendermode InteractiveServer

<h3>Введите имя</h3>

<EditForm Model="@loginRequest" OnValidSubmit="@HandleLogin">
    <InputText @bind-Value="loginRequest.Username" placeholder="Имя" />
    <button type="submit">Получить токен</button>
</EditForm>

@code {
    private LoginRequest loginRequest = new();

    private async Task HandleLogin()
    {
        Console.WriteLine("Requesting JWT token");

        var response = await Http.PostAsJsonAsync(NavigationManager.ToAbsoluteUri("/Login") , loginRequest);

        Console.WriteLine($"Server respone status: {response.StatusCode}");

        LoginResponse? result;
        if (response.IsSuccessStatusCode)
        {
            result = await response.Content.ReadFromJsonAsync<LoginResponse>();
            await JSRuntime.InvokeVoidAsync("localStorage.setItem", "authToken", result?.Token);
            Navigation.NavigateTo("/index");
        }

        else
        {
            
        }
    }
}