@page "/"
@inject NavigationManager Navigation
@rendermode InteractiveServer

<link href="css/index.css" rel="stylesheet" />

<div class="index-container">
    <h1 class="index-title">Тест навигации</h1>

    <button @onclick="@(() => Navigation.NavigateTo("/game"))"
            class="nav-button btn-game">
        Переход в игру
    </button>

    <button @onclick="@(() => Navigation.NavigateTo("/rules"))"
            class="nav-button btn-rules">
        Переход на Rules
    </button>
</div>