.lobby__container {
    height: 100%;
    color: white;
    padding: 20px;
}

.lobbies__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list__lobby {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(1, 1, 1, 0.6);
    border-radius: 10px;
}

.list__lobby div {
    display: flex;
    justify-content: space-around;
    font-size: 1.1em;
    padding: 10px;
    border: 2px solid white;
    align-items: center;
}

.list__lobby div button {
    background-color: green;
    padding: 5px;
    color: black;
    border-radius: 5px;
    width: 20%;
}

.list__lobby div button:disabled {
    background-color: slategrey;
    cursor: not-allowed;
}

.players__list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.players__list div {
    border: 2px solid white;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 1.2em;
}

.list__menu {
    position: fixed;
    width: 60%;
    background-color: rgb(76, 81, 74);
    left: 20%;
    z-index: 11;
    padding-bottom: 20px;
}

.menu__other {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu__timer {
    font-size: 1.1em;
}

.exit__button {
    font-size: 1.1em;
    padding: 10px;
    width: 35%;
    background: red;
    border-radius: 10px;
    color: white;
}

.button__lobby {
    display: flex;
    justify-content: space-around;
    background-color: rgba(1, 1, 1, 0.5);
    border-radius: 6px;
    align-items: center;
    padding: 10px;
}

.list__createButton {
    padding: 5px;
    font-size: 1.1em;
    width: 20%;
    background-color: green;
    border-radius: 3px;
}

.list__createButton:disabled {
    background-color: slategrey;
    cursor: not-allowed;
    color: black;
}


.list__refreshButton {
    padding: 5px;
    font-size: 1.1em;
    background-color: cornflowerblue;
    border-radius: 3px;
    width: 25%;
}

.lobby__container h1 {
    font-size: 2em;
    text-align: center;
}

.input__block {
    display: flex;
    position: absolute;
    background-color: rgb(217, 217, 216);
    width: 100%;
    left: 0%;
    border-top-left-radius: 0.5em;
    top: 95.2%;
    border-top-right-radius: 0.5em;
    justify-content: center;
    padding: 0.2em;
}

.input__block input {
    width: 50%;
    background-color: rgb(76,76,76);
    color: white;
    text-align: center;
    font-size: 1.3em;
    border-radius: 10px;
}

.input__block input:disabled {
    color: gray;
    cursor: not-allowed;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.top__players {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}

.player__cards {
    display: flex;
    flex-direction: row;
}

.card__back {
    margin-right: -20px;
}

.card__back:last-child {
    margin: 0;
}

.card__back img {
    height: 80px;
}

.player__avatar {
    font-size: 1.5em;
    text-align: center;
}

.player__name {
    color: white;
    font-size: 1.3em;
    text-align: center;
}

.player__hand {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 60%;
    width: 100%;
    justify-content: center;
}

.hand__card {
    margin-right: -20px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.hand__card:disabled {
    filter: brightness(0.5);
    cursor: not-allowed;
}

.hand__card:hover {
    transform: translateY(-20px);
}

.hand__card img {
    height: 150px;
}

.bottom__panel {
    position: absolute;
    background-color: rgb(217, 217, 217);
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    top: 90.6%;
    font-size: 1.1em;
}

.playButton__card {
    position: absolute;
    top: 85%;
    left: 40%;
    z-index: 2;
    width: 20%;
    border-radius: 10px;
}

.playButton__card button {
    color: white;
    font-size: 1.2em;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(26 157 2);
}

.playButton__card button:disabled {
    background-color: rgb(211, 0, 0);
    cursor: not-allowed;
}

.playButton__card p {
    text-align: center;
    color: rgb(255 0 0);
}

.inHand {
    transform: translateY(-20px);
}

.player__move {
    position: absolute;
    color: white;
    font-size: 1.2em;
    top: 55%;
    left: 45%;
}

.player__selected {
    box-shadow: 0 0 10px 5px rgb(255 255 255 / 70%);
}

.logo__backgorund {
    background-image: url("images/LogoBackground.png");
    position: absolute;
    width: 50%;
    height: 30%;
    top: 40%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
    left: 25%;
}

.combo__menu {
    position: absolute;
    width: 50%;
    height: 60%;
    top: 20%;
    left: 25%;
    background-image: url("https://s0.rbk.ru/v6_top_pics/media/img/4/10/347128201744104.jpeg");
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 20px;
    z-index: 15;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.combo__list {
    display: flex;
    flex-direction: row;
}

.combo__seeScore {
    height: 50%;
    transition: all .2s ease-in-out;
}

.SeeScore
{
    box-shadow: 0 0 10px 5px rgb(238 3 251 / 70%);
    scale: 1.1;
}

.combo__seeScore img {
    height: 100%;
}

.informationCombo p {
    color: white;
    font-size: 1.2em;
}

.combo__menu button {
    color: white;
    background-color: rebeccapurple;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 10px;
}

.player__score {
    color: white;
    font-size: 1.1em;
    text-align: center;
}

.winner__block {
    position: absolute;
    width: 40%;
    top: 40%;
    left: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 5px rgb(0 255 34);
    background: #00ff00;
    z-index: 12;
    gap: 20px;
    padding: 20px;
}

.winner__message p {
    font-size: 1.5em;
    color: white;
}